name: PHPCS Code Style

on: [push, pull_request]

jobs:
  phpcs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - run: composer install --prefer-dist --no-progress

      - run: vendor/bin/phpcs --standard=phpcs.xml.dist
